<script setup>
import { FinishedTasks } from "../composables/Tasks";
</script>

<template>
  <!-- Main container -->
  <div class="flex justify-center">
    <div class="full-width q-pa-xl">
      <!-- Title -->
      <h6 class="q-my-none q-mb-md">Finished Tasks</h6>
      <!-- Task list -->
      <div class="q-mt-xl">
        <!-- Loop through each task in FinishedTasks -->
        <q-card v-for="row in FinishedTasks" :key="row.id" class="q-mt-sm">
          <!-- Task card -->
          <q-card-section class="bg-primary text-white q-pa-none">
            <!-- Task title -->
            <div class="text-bold q-pa-md">{{ row.todo }}</div>
            <!-- Task description -->
            <div class="q-pl-lg q-pt-md q-pb-md">{{ row.description }}</div>
            <!-- Task due date -->
            <div class="q-pl-lg q-pt-md q-pb-md">{{ row.dueDate }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>
