<script setup>
import { ref } from "vue";
import { MyTasks, FinishedTasks, DeletedTasks } from "../composables/Tasks";

// Defining reactive variables
let text = ref(null); // The text of the todo
let description = ref(null); // The description of the todo
let dueDate = ref(null); // The due date of the todo
let form = ref(null); // The form reference
let selectedTodo = ref(null); // The selected todo
let toMarkAsDone = ref(null); // The todo to be marked as done
let showDialog = ref(false); // The dialog visibility
let toDelete = ref(null); // The todo to be deleted

// Function to validate a todo
const validateTodo = (todo) => {
  return !MyTasks.value.some((t) => t.todo === todo);
};

// Function to add a new todo
const addTodo = () => {
  if (validateTodo(text.value)) {
    let id = MyTasks.value.length;
    MyTasks.value.push({
      id: ++id,
      todo: text.value,
      description: description.value,
      dueDate: dueDate.value,
    });

    // Resetting the form, text, description, and due date
    text.value = description.value = dueDate.value = null;
    form.value.reset();
  } else {
    alert("This task already exists!");
  }
};

// Function to select a todo
const selectTodo = (row) => {
  selectedTodo.value = row;
  text.value = row.todo;
  description.value = row.description;
  dueDate.value = row.dueDate;
};

// Function to update a todo
const updateTodo = () => {
  // Check if the updated todo already exists
  let duplicate = MyTasks.value.some(
    (t) => t.todo === text.value && t.id !== selectedTodo.value.id
  );

  if (duplicate) {
    alert("A task with this title already exists!");
  } else {
    let index = MyTasks.value.findIndex((t) => t.id === selectedTodo.value.id);

    if (index !== -1) {
      MyTasks.value[index].todo = text.value;
      MyTasks.value[index].description = description.value;
      MyTasks.value[index].dueDate = dueDate.value;
    }

    // Reset the form, text, description, due date, and selectedTodo
    text.value = description.value = dueDate.value = selectedTodo.value = null;
    form.value.reset();
  }
};

// Function to toggle the dialog
const toggleDialog = (row, status) => {
  showDialog.value = true;
  toMarkAsDone.value = toDelete.value = null;
  status !== "delete" ? (toMarkAsDone.value = row) : (toDelete.value = row);
};

// Function to mark a todo as done
const markAsDone = () => {
  let index = MyTasks.value.findIndex((t) => t.id === toMarkAsDone.value.id);
  index !== -1 && MyTasks.value.splice(index, 1);
  FinishedTasks.value.push(toMarkAsDone.value);
  toMarkAsDone.value = null;
  showDialog.value = false;
};

// Function to remove a todo
const removeTodo = () => {
  let index = MyTasks.value.findIndex((t) => t.id === toDelete.value.id);
  index !== -1 && MyTasks.value.splice(index, 1);
  DeletedTasks.value.push(toDelete.value);
  toDelete.value = null;
  showDialog.value = false;
};
</script>

<template>
  <!-- Main container -->
  <div class="flex justify-center">
    <div class="full-width q-pa-xl">
      <!-- Title -->
      <h6 class="q-my-none q-mb-md">My Tasks</h6>
      <!-- Form for adding or updating a task -->
      <q-form ref="form" @submit="!selectedTodo ? addTodo() : updateTodo()">
        <div class="row gap q-mb-lg">
          <!-- Input field for the task title -->
          <q-input
            v-model="text"
            dense
            outlined
            label="What's your todo?"
            class="q-pa-none col-10"
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
          />
          <!-- Button for submitting the form -->
          <div class="col-2 q-pl-sm">
            <q-btn
              :class="`bg-${!selectedTodo ? 'primary' : 'secondary'} fit`"
              color="white"
              glossy
              dense
              flat
              type="submit"
              :icon="!selectedTodo ? 'add' : 'edit'"
            />
          </div>
        </div>
        <div class="row gap">
          <!-- Input field for the task description -->
          <q-input
            v-model="description"
            dense
            outlined
            label="Description"
            class="q-pa-none q-mb-lg col-10"
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
          />
          <!-- Input field for the task due date -->
          <q-input
            v-model="dueDate"
            mask="date"
            dense
            outlined
            label="Due Date"
            class="q-pa-none q-mb-lg col-10"
            lazy-rules
            :rules="[(val) => !!val || 'Field is required']"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  cover
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date v-model="dueDate">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
      </q-form>
      <!-- List of tasks -->
      <div class="q-mt-xl">
        <!-- Loop through each task in MyTasks -->
        <q-card
          @click="selectTodo(row)"
          class="q-mt-sm"
          v-for="row in MyTasks"
          :key="row.id"
        >
          <q-card-section
            :class="`bg-${
              selectedTodo && selectedTodo.id === row.id
                ? 'secondary'
                : 'primary'
            } text-white q-pa-none items-start`"
          >
            <!-- Task title and buttons -->
            <div class="row justify-between items-center">
              <div class="text-bold q-pl-md">{{ row.todo }}</div>
              <div class="bg-white q-pa-sm">
                <q-btn
                  @click.stop="toggleDialog(row)"
                  flat
                  icon="check_circle_outline"
                  color="green"
                />
                <q-btn
                  @click.stop="toggleDialog(row, 'delete')"
                  flat
                  icon="delete_outline"
                  color="red"
                />
              </div>
            </div>
            <!-- Task description -->
            <div class="q-pl-lg q-pt-md q-pb-md">{{ row.description }}</div>
            <!-- Task due date -->
            <div class="q-pl-lg q-pt-md q-pb-md">{{ row.dueDate }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>

  <!-- Dialog for confirming actions -->
  <q-dialog v-model="showDialog" persistent>
    <q-card>
      <!-- Dialog content -->
      <q-card-section class="row items-center">
        <div v-if="toMarkAsDone" class="q-ml-sm">
          Are you sure you want to mark
          <span class="text-green">"{{ toMarkAsDone.todo }}"</span> as done?
        </div>
        <div v-else class="q-ml-sm">
          Are you sure you want to delete
          <span class="text-green">"{{ toDelete.todo }}"</span>?
        </div>
      </q-card-section>

      <!-- Dialog actions -->
      <q-card-actions align="right">
        <q-btn flat label="Cancel" color="primary" v-close-popup />
        <q-btn
          @click="toMarkAsDone ? markAsDone() : removeTodo()"
          flat
          label="Yes"
          color="primary"
          v-close-popup
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
